### Test archivo Rita

In [58]:
import os              # This provides several system utilities
import pandas as pd    # This is the workhorse of data munging in Python
import matplotlib.pyplot as plt
#import seaborn as sns  # This allows us to easily and beautifully plot

# This ensures visualizations are plotted inside the notebook
%matplotlib inline

In [59]:
f = 'rita.csv'    # Path to file containing the file
df = pd.read_csv(f,delimiter=';')    # Read csv file with comma sepparation
df.tail(10)

   long    lat    yr  mon  day   temp     rh     ws  prec
0 -5.55  36.04  2030    1    1  15.26  85.96  12.57  1.62
1 -5.55  36.04  2030    1    2  14.33  84.18  10.88  1.27
2 -5.55  36.04  2030    1    3  14.22  84.15  10.07  1.53
3 -5.55  36.04  2030    1    4  14.11  84.81   9.09  3.63
4 -5.44  36.04  2030    1    1  14.39  85.14   9.28  6.17
5 -5.44  36.04  2030    1    2  15.12  84.46  11.29  1.61
6 -5.44  36.04  2030    1    3  14.58  83.53   9.77  1.25
7 -5.44  36.04  2030    1    4  14.19  83.31   8.53  0.61

In [60]:
df.describe()

,long,lat,yr,mon,day,temp,rh,ws,prec
count,8.000000,8.00,8.0,8.0,8.000000,8.000000,8.000000,8.000000,8.000000
mean,-5.495000,36.04,2030.0,1.0,2.500000,14.525000,84.442500,10.185000,2.211250
std,0.058797,0.00,0.0,0.0,1.195229,0.436054,0.861423,1.327447,1.821839
min,-5.550000,36.04,2030.0,1.0,1.000000,14.110000,83.310000,8.530000,0.610000
25%,-5.550000,36.04,2030.0,1.0,1.750000,14.212500,83.995000,9.232500,1.265000
50%,-5.495000,36.04,2030.0,1.0,2.500000,14.360000,84.320000,9.920000,1.570000
75%,-5.440000,36.04,2030.0,1.0,3.250000,14.715000,84.892500,10.982500,2.122500
max,-5.440000,36.04,2030.0,1.0,4.000000,15.260000,85.960000,12.570000,6.170000

In [61]:
df.columns

Index(['long', 'lat', 'yr', 'mon', 'day', 'temp', 'rh', 'ws', 'prec'], dtype='object')

In [62]:
df=df.groupby(["lat","long"])["temp"].mean()

In [63]:
df.tail

<bound method NDFrame.tail of lat    long
36.04  -5.55    14.48
       -5.44    14.57
Name: temp, dtype: float64>

In [64]:
df.to_csv('ritamodif.csv', index=True)

In [66]:
import geopandas as gpd
from shapely.geometry import Point, Polygon
f = 'rita.csv'    # Path to file containing the file
df = pd.read_csv(f,delimiter=';')    # Read csv file with comma sepparation
geometry=[Point(xy) for xy in zip(df.lat,df.long)]
geometry[:3]

[<shapely.geometry.point.Point at 0x7f89da1062d0>,
 <shapely.geometry.point.Point at 0x7f89e1e4ae10>,
 <shapely.geometry.point.Point at 0x7f89da313d90>]

In [67]:
geo_df=gpd.GeoDataFrame(df, geometry=geometry)

In [68]:
geo_df.tail

<bound method NDFrame.tail of    long    lat    yr  mon  day   temp     rh     ws  prec  \
0 -5.55  36.04  2030    1    1  15.26  85.96  12.57  1.62
1 -5.55  36.04  2030    1    2  14.33  84.18  10.88  1.27
2 -5.55  36.04  2030    1    3  14.22  84.15  10.07  1.53
3 -5.55  36.04  2030    1    4  14.11  84.81   9.09  3.63
4 -5.44  36.04  2030    1    1  14.39  85.14   9.28  6.17
5 -5.44  36.04  2030    1    2  15.12  84.46  11.29  1.61
6 -5.44  36.04  2030    1    3  14.58  83.53   9.77  1.25
7 -5.44  36.04  2030    1    4  14.19  83.31   8.53  0.61

                    geometry
0  POINT (36.04000 -5.55000)
1  POINT (36.04000 -5.55000)
2  POINT (36.04000 -5.55000)
3  POINT (36.04000 -5.55000)
4  POINT (36.04000 -5.44000)
5  POINT (36.04000 -5.44000)
6  POINT (36.04000 -5.44000)
7  POINT (36.04000 -5.44000)  >

In [69]:
geo_df.rh

0    85.96
1    84.18
2    84.15
3    84.81
4    85.14
5    84.46
6    83.53
7    83.31
Name: rh, dtype: float64